@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: normal;
}

h1{
  font-weight: 900;
  font-size: 50px;
  color: #060745;
}
h2{
  font-weight: 800;
  font-size: 30px;
  color: #060745;
  margin-right: 10px;
}

h5{
  color: gray;
}

a, Link{
  text-decoration: none;
  color: #eee6e3;
}

.sidebar{
  width: 60px;
  height: 50vh;
  position: fixed;
  left: 15px;
  top:20px;
  color: #eee6e3;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: start;
  transition: width 0.3s ease;
}

.sidem-inner{
  height: 100%;
  background: #060745;
   backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  border: 1px solid rgb(255, 255, 255, 0.125);
  border-radius: 10px;
  padding:20px 0 10px 0;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  overflow: hidden;
  transition: width 0.3s ease;
  box-shadow: 7px, -5px, 47px, -4px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 7px, -5px, 47px, -4px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 7px, -5px, 47px, -4px rgba(0, 0, 0, 0.36);
}

.sidebar:hover{
  width:220px;
}
#logo{
  width: 58px;
  margin-bottom: 20px;
}
.side-op > div{
  height:40px;
}

.side-op, .lo{
  display: flex;
  flex-direction: column;
}

.side-item{
  display: flex;
  align-items: center;
  gap:14px;
  padding:10px 14px;
  cursor: pointer;
  transition: background 0.25s ease;
}

.side-item:hover{
  font-size: 24px;
  min-width: 24px;
  background: rgba(255, 255, 255, 0.12);
}

.side-item span{
  white-space: nowrap;
  opacity:0;
  transform: translate(-10px);
  transition: all 0.25s ease;
}

.sidebar:hover .side-item span{
  font-size: smaller;
  opacity:1;
  transform: translateX(0);
}

.main-dash{
  height: 99vh;
  width: 99.7vw;
  display: flex;
  flex-direction: row;
  justify-content: start;
  border: 2px solid green;
}

.dashCont{
  padding: 25px 0 20px 100px;
}

#header{
   width: 1400px;
   display:flex;
   flex-direction: row;
   justify-content: space-between;
}
.usercont{
  display: flex;
  flex-direction: column;
  }

  #side-head{
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 5px;
  }